orderservice/test/orderservice.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.5-b01 .--><!--Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.5-b01 .--><definitions targetNamespace="de.fhdw.ify208.ticketmaster.common.model" xmlns:tns="de.fhdw.ify208.ticketmaster.common.model" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import namespace="de.fhdw.ify208.ticketmaster.common.model" schemaLocation="orderservice.xsd"/>
    </xsd:schema>
  </types>
  <message name="GetCustomerOrders">
    <part name="parameters" element="tns:GetCustomerOrders"/>
  </message>
  <message name="GetCustomerOrdersResponse">
    <part name="parameters" element="tns:GetCustomerOrdersResponse"/>
  </message>
  <message name="PlaceOrder">
    <part name="parameters" element="tns:PlaceOrder"/>
  </message>
  <message name="PlaceOrderResponse">
    <part name="parameters" element="tns:PlaceOrderResponse"/>
  </message>
  <message name="CancelOrder">
    <part name="parameters" element="tns:CancelOrder"/>
  </message>
  <message name="CancelOrderResponse">
    <part name="parameters" element="tns:CancelOrderResponse"/>
  </message>
  <message name="GetOrderStatuses">
    <part name="parameters" element="tns:GetOrderStatuses"/>
  </message>
  <message name="GetOrderStatusesResponse">
    <part name="parameters" element="tns:GetOrderStatusesResponse"/>
  </message>
  <portType name="orderservice">
    <operation name="GetCustomerOrders">
      <input ns1:Action="de.fhdw.ify208.ticketmaster.common.model/orderservice/GetCustomerOrdersRequest" message="tns:GetCustomerOrders" xmlns:ns1="http://www.w3.org/2007/05/addressing/metadata"/>
      <output ns2:Action="de.fhdw.ify208.ticketmaster.common.model/orderservice/GetCustomerOrdersResponse" message="tns:GetCustomerOrdersResponse" xmlns:ns2="http://www.w3.org/2007/05/addressing/metadata"/>
    </operation>
    <operation name="PlaceOrder">
      <input ns3:Action="de.fhdw.ify208.ticketmaster.common.model/orderservice/PlaceOrderRequest" message="tns:PlaceOrder" xmlns:ns3="http://www.w3.org/2007/05/addressing/metadata"/>
      <output ns4:Action="de.fhdw.ify208.ticketmaster.common.model/orderservice/PlaceOrderResponse" message="tns:PlaceOrderResponse" xmlns:ns4="http://www.w3.org/2007/05/addressing/metadata"/>
    </operation>
    <operation name="CancelOrder">
      <input ns5:Action="de.fhdw.ify208.ticketmaster.common.model/orderservice/CancelOrderRequest" message="tns:CancelOrder" xmlns:ns5="http://www.w3.org/2007/05/addressing/metadata"/>
      <output ns6:Action="de.fhdw.ify208.ticketmaster.common.model/orderservice/CancelOrderResponse" message="tns:CancelOrderResponse" xmlns:ns6="http://www.w3.org/2007/05/addressing/metadata"/>
    </operation>
    <operation name="GetOrderStatuses">
      <input ns7:Action="de.fhdw.ify208.ticketmaster.common.model/orderservice/GetOrderStatusesRequest" message="tns:GetOrderStatuses" xmlns:ns7="http://www.w3.org/2007/05/addressing/metadata"/>
      <output ns8:Action="de.fhdw.ify208.ticketmaster.common.model/orderservice/GetOrderStatusesResponse" message="tns:GetOrderStatusesResponse" xmlns:ns8="http://www.w3.org/2007/05/addressing/metadata"/>
    </operation>
  </portType>
</definitions>