customerservice/test/customerservice.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.5-b01 .--><!--Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.5-b01 .--><definitions targetNamespace="de.fhdw.ify208.ticketmaster.common.model" xmlns:tns="de.fhdw.ify208.ticketmaster.common.model" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import namespace="de.fhdw.ify208.ticketmaster.common.model" schemaLocation="customerservice.xsd"/>
    </xsd:schema>
  </types>
  <message name="GetCustomerAddresses">
    <part name="parameters" element="tns:GetCustomerAddresses"/>
  </message>
  <message name="GetCustomerAddressesResponse">
    <part name="parameters" element="tns:GetCustomerAddressesResponse"/>
  </message>
  <message name="SignOn">
    <part name="parameters" element="tns:SignOn"/>
    <part name="password" element="tns:password"/>
  </message>
  <message name="SignOnResponse">
    <part name="result" element="tns:SignOnResponse"/>
  </message>
  <message name="ChangeCustomer">
    <part name="parameters" element="tns:ChangeCustomer"/>
    <part name="oldPassword" element="tns:oldPassword"/>
    <part name="newPassword" element="tns:newPassword"/>
  </message>
  <message name="ChangeCustomerResponse">
    <part name="result" element="tns:ChangeCustomerResponse"/>
  </message>
  <message name="RegisterCustomer">
    <part name="parameters" element="tns:RegisterCustomer"/>
  </message>
  <message name="RegisterCustomerResponse">
    <part name="parameters" element="tns:RegisterCustomerResponse"/>
  </message>
  <message name="MaintainAddress">
    <part name="parameters" element="tns:MaintainAddress"/>
  </message>
  <message name="MaintainAddressResponse">
    <part name="parameters" element="tns:MaintainAddressResponse"/>
  </message>
  <message name="RemoveAddress">
    <part name="parameters" element="tns:RemoveAddress"/>
  </message>
  <message name="RemoveAddressResponse">
    <part name="parameters" element="tns:RemoveAddressResponse"/>
  </message>
  <message name="CloseCustomerProfile">
    <part name="parameters" element="tns:CloseCustomerProfile"/>
  </message>
  <message name="CloseCustomerProfileResponse">
    <part name="parameters" element="tns:CloseCustomerProfileResponse"/>
  </message>
  <message name="GetCustomerTypes">
    <part name="parameters" element="tns:GetCustomerTypes"/>
  </message>
  <message name="GetCustomerTypesResponse">
    <part name="parameters" element="tns:GetCustomerTypesResponse"/>
  </message>
  <message name="GetAddressTypes">
    <part name="parameters" element="tns:GetAddressTypes"/>
  </message>
  <message name="GetAddressTypesResponse">
    <part name="parameters" element="tns:GetAddressTypesResponse"/>
  </message>
  <portType name="customerservice">
    <operation name="GetCustomerAddresses">
      <input ns1:Action="de.fhdw.ify208.ticketmaster.common.model/customerservice/GetCustomerAddressesRequest" message="tns:GetCustomerAddresses" xmlns:ns1="http://www.w3.org/2007/05/addressing/metadata"/>
      <output ns2:Action="de.fhdw.ify208.ticketmaster.common.model/customerservice/GetCustomerAddressesResponse" message="tns:GetCustomerAddressesResponse" xmlns:ns2="http://www.w3.org/2007/05/addressing/metadata"/>
    </operation>
    <operation name="SignOn" parameterOrder="parameters password">
      <input ns3:Action="de.fhdw.ify208.ticketmaster.common.model/customerservice/SignOnRequest" message="tns:SignOn" xmlns:ns3="http://www.w3.org/2007/05/addressing/metadata"/>
      <output ns4:Action="de.fhdw.ify208.ticketmaster.common.model/customerservice/SignOnResponse" message="tns:SignOnResponse" xmlns:ns4="http://www.w3.org/2007/05/addressing/metadata"/>
    </operation>
    <operation name="ChangeCustomer" parameterOrder="parameters oldPassword newPassword">
      <input ns5:Action="de.fhdw.ify208.ticketmaster.common.model/customerservice/ChangeCustomerRequest" message="tns:ChangeCustomer" xmlns:ns5="http://www.w3.org/2007/05/addressing/metadata"/>
      <output ns6:Action="de.fhdw.ify208.ticketmaster.common.model/customerservice/ChangeCustomerResponse" message="tns:ChangeCustomerResponse" xmlns:ns6="http://www.w3.org/2007/05/addressing/metadata"/>
    </operation>
    <operation name="RegisterCustomer">
      <input ns7:Action="de.fhdw.ify208.ticketmaster.common.model/customerservice/RegisterCustomerRequest" message="tns:RegisterCustomer" xmlns:ns7="http://www.w3.org/2007/05/addressing/metadata"/>
      <output ns8:Action="de.fhdw.ify208.ticketmaster.common.model/customerservice/RegisterCustomerResponse" message="tns:RegisterCustomerResponse" xmlns:ns8="http://www.w3.org/2007/05/addressing/metadata"/>
    </operation>
    <operation name="MaintainAddress">
      <input ns9:Action="de.fhdw.ify208.ticketmaster.common.model/customerservice/MaintainAddressRequest" message="tns:MaintainAddress" xmlns:ns9="http://www.w3.org/2007/05/addressing/metadata"/>
      <output ns10:Action="de.fhdw.ify208.ticketmaster.common.model/customerservice/MaintainAddressResponse" message="tns:MaintainAddressResponse" xmlns:ns10="http://www.w3.org/2007/05/addressing/metadata"/>
    </operation>
    <operation name="RemoveAddress">
      <input ns11:Action="de.fhdw.ify208.ticketmaster.common.model/customerservice/RemoveAddressRequest" message="tns:RemoveAddress" xmlns:ns11="http://www.w3.org/2007/05/addressing/metadata"/>
      <output ns12:Action="de.fhdw.ify208.ticketmaster.common.model/customerservice/RemoveAddressResponse" message="tns:RemoveAddressResponse" xmlns:ns12="http://www.w3.org/2007/05/addressing/metadata"/>
    </operation>
    <operation name="CloseCustomerProfile">
      <input ns13:Action="de.fhdw.ify208.ticketmaster.common.model/customerservice/CloseCustomerProfileRequest" message="tns:CloseCustomerProfile" xmlns:ns13="http://www.w3.org/2007/05/addressing/metadata"/>
      <output ns14:Action="de.fhdw.ify208.ticketmaster.common.model/customerservice/CloseCustomerProfileResponse" message="tns:CloseCustomerProfileResponse" xmlns:ns14="http://www.w3.org/2007/05/addressing/metadata"/>
    </operation>
    <operation name="GetCustomerTypes">
      <input ns15:Action="de.fhdw.ify208.ticketmaster.common.model/customerservice/GetCustomerTypesRequest" message="tns:GetCustomerTypes" xmlns:ns15="http://www.w3.org/2007/05/addressing/metadata"/>
      <output ns16:Action="de.fhdw.ify208.ticketmaster.common.model/customerservice/GetCustomerTypesResponse" message="tns:GetCustomerTypesResponse" xmlns:ns16="http://www.w3.org/2007/05/addressing/metadata"/>
    </operation>
    <operation name="GetAddressTypes">
      <input ns17:Action="de.fhdw.ify208.ticketmaster.common.model/customerservice/GetAddressTypesRequest" message="tns:GetAddressTypes" xmlns:ns17="http://www.w3.org/2007/05/addressing/metadata"/>
      <output ns18:Action="de.fhdw.ify208.ticketmaster.common.model/customerservice/GetAddressTypesResponse" message="tns:GetAddressTypesResponse" xmlns:ns18="http://www.w3.org/2007/05/addressing/metadata"/>
    </operation>
  </portType>
</definitions>