eventservice/test/eventservice.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.5-b01 .--><!--Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.5-b01 .--><definitions targetNamespace="de.fhdw.ify208.ticketmaster.common.model" xmlns:tns="de.fhdw.ify208.ticketmaster.common.model" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import namespace="de.fhdw.ify208.ticketmaster.common.model" schemaLocation="eventservice.xsd"/>
    </xsd:schema>
  </types>
  <message name="GetEventsByArtists">
    <part name="parameters" element="tns:GetEventsByArtists"/>
  </message>
  <message name="GetEventsByArtistsResponse">
    <part name="parameters" element="tns:GetEventsByArtistsResponse"/>
  </message>
  <message name="GetEventsByLocation">
    <part name="parameters" element="tns:GetEventsByLocation"/>
  </message>
  <message name="GetEventsByLocationResponse">
    <part name="parameters" element="tns:GetEventsByLocationResponse"/>
  </message>
  <message name="GetEventsByGenre">
    <part name="parameters" element="tns:GetEventsByGenre"/>
  </message>
  <message name="GetEventsByGenreResponse">
    <part name="parameters" element="tns:GetEventsByGenreResponse"/>
  </message>
  <message name="GetEventsByCategory">
    <part name="parameters" element="tns:GetEventsByCategory"/>
  </message>
  <message name="GetEventsByCategoryResponse">
    <part name="parameters" element="tns:GetEventsByCategoryResponse"/>
  </message>
  <message name="GetEventsByDateRange">
    <part name="parameters" element="tns:GetEventsByDateRange"/>
  </message>
  <message name="GetEventsByDateRangeResponse">
    <part name="parameters" element="tns:GetEventsByDateRangeResponse"/>
  </message>
  <message name="RegisterNewEvent">
    <part name="parameters" element="tns:RegisterNewEvent"/>
  </message>
  <message name="RegisterNewEventResponse">
    <part name="parameters" element="tns:RegisterNewEventResponse"/>
  </message>
  <message name="RegisterNewArtist">
    <part name="parameters" element="tns:RegisterNewArtist"/>
  </message>
  <message name="RegisterNewArtistResponse">
    <part name="parameters" element="tns:RegisterNewArtistResponse"/>
  </message>
  <message name="CancelEvent">
    <part name="parameters" element="tns:CancelEvent"/>
  </message>
  <message name="CancelEventResponse">
    <part name="parameters" element="tns:CancelEventResponse"/>
  </message>
  <message name="RateEvent">
    <part name="parameters" element="tns:RateEvent"/>
  </message>
  <message name="RateEventResponse">
    <part name="parameters" element="tns:RateEventResponse"/>
  </message>
  <message name="GetGenres">
    <part name="parameters" element="tns:GetGenres"/>
  </message>
  <message name="GetGenresResponse">
    <part name="parameters" element="tns:GetGenresResponse"/>
  </message>
  <message name="GetCategories">
    <part name="parameters" element="tns:GetCategories"/>
  </message>
  <message name="GetCategoriesResponse">
    <part name="parameters" element="tns:GetCategoriesResponse"/>
  </message>
  <message name="GetEventStatuses">
    <part name="parameters" element="tns:GetEventStatuses"/>
  </message>
  <message name="GetEventStatusesResponse">
    <part name="parameters" element="tns:GetEventStatusesResponse"/>
  </message>
  <portType name="eventservice">
    <operation name="GetEventsByArtists">
      <input ns1:Action="de.fhdw.ify208.ticketmaster.common.model/eventservice/GetEventsByArtistsRequest" message="tns:GetEventsByArtists" xmlns:ns1="http://www.w3.org/2007/05/addressing/metadata"/>
      <output ns2:Action="de.fhdw.ify208.ticketmaster.common.model/eventservice/GetEventsByArtistsResponse" message="tns:GetEventsByArtistsResponse" xmlns:ns2="http://www.w3.org/2007/05/addressing/metadata"/>
    </operation>
    <operation name="GetEventsByLocation">
      <input ns3:Action="de.fhdw.ify208.ticketmaster.common.model/eventservice/GetEventsByLocationRequest" message="tns:GetEventsByLocation" xmlns:ns3="http://www.w3.org/2007/05/addressing/metadata"/>
      <output ns4:Action="de.fhdw.ify208.ticketmaster.common.model/eventservice/GetEventsByLocationResponse" message="tns:GetEventsByLocationResponse" xmlns:ns4="http://www.w3.org/2007/05/addressing/metadata"/>
    </operation>
    <operation name="GetEventsByGenre">
      <input ns5:Action="de.fhdw.ify208.ticketmaster.common.model/eventservice/GetEventsByGenreRequest" message="tns:GetEventsByGenre" xmlns:ns5="http://www.w3.org/2007/05/addressing/metadata"/>
      <output ns6:Action="de.fhdw.ify208.ticketmaster.common.model/eventservice/GetEventsByGenreResponse" message="tns:GetEventsByGenreResponse" xmlns:ns6="http://www.w3.org/2007/05/addressing/metadata"/>
    </operation>
    <operation name="GetEventsByCategory">
      <input ns7:Action="de.fhdw.ify208.ticketmaster.common.model/eventservice/GetEventsByCategoryRequest" message="tns:GetEventsByCategory" xmlns:ns7="http://www.w3.org/2007/05/addressing/metadata"/>
      <output ns8:Action="de.fhdw.ify208.ticketmaster.common.model/eventservice/GetEventsByCategoryResponse" message="tns:GetEventsByCategoryResponse" xmlns:ns8="http://www.w3.org/2007/05/addressing/metadata"/>
    </operation>
    <operation name="GetEventsByDateRange">
      <input ns9:Action="de.fhdw.ify208.ticketmaster.common.model/eventservice/GetEventsByDateRangeRequest" message="tns:GetEventsByDateRange" xmlns:ns9="http://www.w3.org/2007/05/addressing/metadata"/>
      <output ns10:Action="de.fhdw.ify208.ticketmaster.common.model/eventservice/GetEventsByDateRangeResponse" message="tns:GetEventsByDateRangeResponse" xmlns:ns10="http://www.w3.org/2007/05/addressing/metadata"/>
    </operation>
    <operation name="RegisterNewEvent">
      <input ns11:Action="de.fhdw.ify208.ticketmaster.common.model/eventservice/RegisterNewEventRequest" message="tns:RegisterNewEvent" xmlns:ns11="http://www.w3.org/2007/05/addressing/metadata"/>
      <output ns12:Action="de.fhdw.ify208.ticketmaster.common.model/eventservice/RegisterNewEventResponse" message="tns:RegisterNewEventResponse" xmlns:ns12="http://www.w3.org/2007/05/addressing/metadata"/>
    </operation>
    <operation name="RegisterNewArtist">
      <input ns13:Action="de.fhdw.ify208.ticketmaster.common.model/eventservice/RegisterNewArtistRequest" message="tns:RegisterNewArtist" xmlns:ns13="http://www.w3.org/2007/05/addressing/metadata"/>
      <output ns14:Action="de.fhdw.ify208.ticketmaster.common.model/eventservice/RegisterNewArtistResponse" message="tns:RegisterNewArtistResponse" xmlns:ns14="http://www.w3.org/2007/05/addressing/metadata"/>
    </operation>
    <operation name="CancelEvent">
      <input ns15:Action="de.fhdw.ify208.ticketmaster.common.model/eventservice/CancelEventRequest" message="tns:CancelEvent" xmlns:ns15="http://www.w3.org/2007/05/addressing/metadata"/>
      <output ns16:Action="de.fhdw.ify208.ticketmaster.common.model/eventservice/CancelEventResponse" message="tns:CancelEventResponse" xmlns:ns16="http://www.w3.org/2007/05/addressing/metadata"/>
    </operation>
    <operation name="RateEvent">
      <input ns17:Action="de.fhdw.ify208.ticketmaster.common.model/eventservice/RateEventRequest" message="tns:RateEvent" xmlns:ns17="http://www.w3.org/2007/05/addressing/metadata"/>
      <output ns18:Action="de.fhdw.ify208.ticketmaster.common.model/eventservice/RateEventResponse" message="tns:RateEventResponse" xmlns:ns18="http://www.w3.org/2007/05/addressing/metadata"/>
    </operation>
    <operation name="GetGenres">
      <input ns19:Action="de.fhdw.ify208.ticketmaster.common.model/eventservice/GetGenresRequest" message="tns:GetGenres" xmlns:ns19="http://www.w3.org/2007/05/addressing/metadata"/>
      <output ns20:Action="de.fhdw.ify208.ticketmaster.common.model/eventservice/GetGenresResponse" message="tns:GetGenresResponse" xmlns:ns20="http://www.w3.org/2007/05/addressing/metadata"/>
    </operation>
    <operation name="GetCategories">
      <input ns21:Action="de.fhdw.ify208.ticketmaster.common.model/eventservice/GetCategoriesRequest" message="tns:GetCategories" xmlns:ns21="http://www.w3.org/2007/05/addressing/metadata"/>
      <output ns22:Action="de.fhdw.ify208.ticketmaster.common.model/eventservice/GetCategoriesResponse" message="tns:GetCategoriesResponse" xmlns:ns22="http://www.w3.org/2007/05/addressing/metadata"/>
    </operation>
    <operation name="GetEventStatuses">
      <input ns23:Action="de.fhdw.ify208.ticketmaster.common.model/eventservice/GetEventStatusesRequest" message="tns:GetEventStatuses" xmlns:ns23="http://www.w3.org/2007/05/addressing/metadata"/>
      <output ns24:Action="de.fhdw.ify208.ticketmaster.common.model/eventservice/GetEventStatusesResponse" message="tns:GetEventStatusesResponse" xmlns:ns24="http://www.w3.org/2007/05/addressing/metadata"/>
    </operation>
  </portType>
</definitions>