eventservice/test/eventservice.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.5-b01 .--><xs:schema version="1.0" targetNamespace="de.fhdw.ify208.ticketmaster.common.model" xmlns:tns="de.fhdw.ify208.ticketmaster.common.model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="CancelEvent" type="tns:CancelEvent"/>
  <xs:element name="CancelEventResponse" type="tns:CancelEventResponse"/>
  <xs:element name="GetCategories" type="tns:GetCategories"/>
  <xs:element name="GetCategoriesResponse" type="tns:GetCategoriesResponse"/>
  <xs:element name="GetEventStatuses" type="tns:GetEventStatuses"/>
  <xs:element name="GetEventStatusesResponse" type="tns:GetEventStatusesResponse"/>
  <xs:element name="GetEventsByArtists" type="tns:GetEventsByArtists"/>
  <xs:element name="GetEventsByArtistsResponse" type="tns:GetEventsByArtistsResponse"/>
  <xs:element name="GetEventsByCategory" type="tns:GetEventsByCategory"/>
  <xs:element name="GetEventsByCategoryResponse" type="tns:GetEventsByCategoryResponse"/>
  <xs:element name="GetEventsByDateRange" type="tns:GetEventsByDateRange"/>
  <xs:element name="GetEventsByDateRangeResponse" type="tns:GetEventsByDateRangeResponse"/>
  <xs:element name="GetEventsByGenre" type="tns:GetEventsByGenre"/>
  <xs:element name="GetEventsByGenreResponse" type="tns:GetEventsByGenreResponse"/>
  <xs:element name="GetEventsByLocation" type="tns:GetEventsByLocation"/>
  <xs:element name="GetEventsByLocationResponse" type="tns:GetEventsByLocationResponse"/>
  <xs:element name="GetGenres" type="tns:GetGenres"/>
  <xs:element name="GetGenresResponse" type="tns:GetGenresResponse"/>
  <xs:element name="RateEvent" type="tns:RateEvent"/>
  <xs:element name="RateEventResponse" type="tns:RateEventResponse"/>
  <xs:element name="RegisterNewArtist" type="tns:RegisterNewArtist"/>
  <xs:element name="RegisterNewArtistResponse" type="tns:RegisterNewArtistResponse"/>
  <xs:element name="RegisterNewEvent" type="tns:RegisterNewEvent"/>
  <xs:element name="RegisterNewEventResponse" type="tns:RegisterNewEventResponse"/>
  <xs:element name="address" type="tns:addressDTO"/>
  <xs:element name="artist" type="tns:artistDTO"/>
  <xs:element name="artists" type="tns:artistListDTO"/>
  <xs:element name="country" type="tns:countryDTO"/>
  <xs:element name="customer" type="tns:customerDTO"/>
  <xs:element name="event" type="tns:eventDTO"/>
  <xs:element name="rating" type="tns:ratingDTO"/>
  <xs:element name="ratings" type="tns:ratingListDTO"/>
  <xs:element name="typecode" type="tns:typeCodeDTO"/>
  <xs:element name="typecodes" type="tns:typeCodeListDTO"/>
  <xs:complexType name="GetEventsByLocation">
    <xs:sequence>
      <xs:element name="cityName" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GetEventsByLocationResponse">
    <xs:sequence>
      <xs:element name="return" type="tns:eventListDTO" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eventListDTO">
    <xs:complexContent>
      <xs:extension base="tns:baseDTO">
        <xs:sequence>
          <xs:element name="events" type="tns:eventDTO" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="baseDTO">
    <xs:sequence>
      <xs:element name="message" type="xs:string" minOccurs="0"/>
      <xs:element name="returncode" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eventDTO">
    <xs:complexContent>
      <xs:extension base="tns:baseDTO">
        <xs:sequence>
          <xs:element name="adUrl" type="xs:string" minOccurs="0"/>
          <xs:element ref="tns:artists" minOccurs="0"/>
          <xs:element name="availableTickets" type="xs:int"/>
          <xs:element name="avrgRating" type="xs:double"/>
          <xs:element name="category" type="tns:typeCodeDTO" minOccurs="0"/>
          <xs:element name="description" type="xs:string" minOccurs="0"/>
          <xs:element name="endDate" type="xs:dateTime" minOccurs="0"/>
          <xs:element name="eventStatus" type="tns:typeCodeDTO" minOccurs="0"/>
          <xs:element name="location" type="tns:addressDTO" minOccurs="0"/>
          <xs:element name="maxNoOfTickets" type="xs:int"/>
          <xs:element ref="tns:ratings" minOccurs="0"/>
          <xs:element name="startDate" type="xs:dateTime" minOccurs="0"/>
          <xs:element name="ticketPrice" type="xs:decimal" minOccurs="0"/>
          <xs:element name="id" type="xs:long"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="artistListDTO">
    <xs:complexContent>
      <xs:extension base="tns:baseDTO">
        <xs:sequence>
          <xs:element ref="tns:artist" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="artistDTO">
    <xs:complexContent>
      <xs:extension base="tns:baseDTO">
        <xs:sequence>
          <xs:element name="firstName" type="xs:string" minOccurs="0"/>
          <xs:element name="genre" type="tns:typeCodeDTO" minOccurs="0"/>
          <xs:element name="lastName" type="xs:string" minOccurs="0"/>
          <xs:element name="stageName" type="xs:string" minOccurs="0"/>
          <xs:element name="id" type="xs:long"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="typeCodeDTO">
    <xs:complexContent>
      <xs:extension base="tns:baseDTO">
        <xs:sequence>
          <xs:element name="description" type="xs:string" minOccurs="0"/>
          <xs:element name="id" type="xs:int" minOccurs="0"/>
          <xs:element name="name" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="addressDTO">
    <xs:complexContent>
      <xs:extension base="tns:baseDTO">
        <xs:sequence>
          <xs:element name="addressLine" type="xs:string" minOccurs="0"/>
          <xs:element name="addressType" type="tns:typeCodeDTO" minOccurs="0"/>
          <xs:element name="cityName" type="xs:string" minOccurs="0"/>
          <xs:element ref="tns:country" minOccurs="0"/>
          <xs:element name="district" type="xs:string" minOccurs="0"/>
          <xs:element name="streetName" type="xs:string" minOccurs="0"/>
          <xs:element name="zipCode" type="xs:string" minOccurs="0"/>
          <xs:element name="id" type="xs:long" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="countryDTO">
    <xs:complexContent>
      <xs:extension base="tns:typeCodeDTO">
        <xs:sequence>
          <xs:element name="isoCode" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ratingListDTO">
    <xs:complexContent>
      <xs:extension base="tns:baseDTO">
        <xs:sequence>
          <xs:element ref="tns:rating" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ratingDTO">
    <xs:complexContent>
      <xs:extension base="tns:baseDTO">
        <xs:sequence>
          <xs:element name="comment" type="xs:string" minOccurs="0"/>
          <xs:element name="rating" type="xs:double"/>
          <xs:element name="timestamp" type="xs:dateTime" minOccurs="0"/>
          <xs:element name="userName" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="CancelEvent">
    <xs:sequence>
      <xs:element ref="tns:event" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CancelEventResponse">
    <xs:sequence>
      <xs:element name="return" type="tns:baseDTO" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GetGenres">
    <xs:sequence/>
  </xs:complexType>
  <xs:complexType name="GetGenresResponse">
    <xs:sequence>
      <xs:element name="return" type="tns:typeCodeListDTO" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="typeCodeListDTO">
    <xs:complexContent>
      <xs:extension base="tns:baseDTO">
        <xs:sequence>
          <xs:element ref="tns:typecode" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="RegisterNewArtist">
    <xs:sequence>
      <xs:element ref="tns:artist" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RegisterNewArtistResponse">
    <xs:sequence>
      <xs:element name="return" type="tns:baseDTO" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RegisterNewEvent">
    <xs:sequence>
      <xs:element ref="tns:event" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RegisterNewEventResponse">
    <xs:sequence>
      <xs:element name="return" type="tns:baseDTO" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GetEventsByArtists">
    <xs:sequence>
      <xs:element name="artistName" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GetEventsByArtistsResponse">
    <xs:sequence>
      <xs:element name="return" type="tns:eventListDTO" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RateEvent">
    <xs:sequence>
      <xs:element ref="tns:event" minOccurs="0"/>
      <xs:element ref="tns:customer" minOccurs="0"/>
      <xs:element name="rating" type="xs:double"/>
      <xs:element name="comment" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="customerDTO">
    <xs:complexContent>
      <xs:extension base="tns:baseDTO">
        <xs:sequence>
          <xs:element name="birthdate" type="xs:dateTime" minOccurs="0"/>
          <xs:element name="email" type="xs:string" minOccurs="0"/>
          <xs:element name="firstName" type="xs:string" minOccurs="0"/>
          <xs:element name="genderType" type="tns:genderType" minOccurs="0"/>
          <xs:element name="lastName" type="xs:string" minOccurs="0"/>
          <xs:element name="password" type="xs:string" minOccurs="0"/>
          <xs:element name="salutation" type="xs:string" minOccurs="0"/>
          <xs:element name="status" type="tns:customerStatus" minOccurs="0"/>
          <xs:element name="type" type="tns:typeCodeDTO" minOccurs="0"/>
          <xs:element name="userName" type="xs:string" minOccurs="0"/>
          <xs:element name="id" type="xs:long"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="RateEventResponse">
    <xs:sequence>
      <xs:element name="return" type="tns:baseDTO" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GetEventsByCategory">
    <xs:sequence>
      <xs:element name="category" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GetEventsByCategoryResponse">
    <xs:sequence>
      <xs:element name="return" type="tns:eventListDTO" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GetEventStatuses">
    <xs:sequence/>
  </xs:complexType>
  <xs:complexType name="GetEventStatusesResponse">
    <xs:sequence>
      <xs:element name="return" type="tns:typeCodeListDTO" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GetCategories">
    <xs:sequence/>
  </xs:complexType>
  <xs:complexType name="GetCategoriesResponse">
    <xs:sequence>
      <xs:element name="return" type="tns:typeCodeListDTO" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GetEventsByDateRange">
    <xs:sequence>
      <xs:element name="startDate" type="xs:dateTime" minOccurs="0"/>
      <xs:element name="endDate" type="xs:dateTime" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GetEventsByDateRangeResponse">
    <xs:sequence>
      <xs:element name="return" type="tns:eventListDTO" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GetEventsByGenre">
    <xs:sequence>
      <xs:element name="genre" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GetEventsByGenreResponse">
    <xs:sequence>
      <xs:element name="return" type="tns:eventListDTO" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="genderType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Male"/>
      <xs:enumeration value="Female"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="customerStatus">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Active"/>
      <xs:enumeration value="Inactive"/>
    </xs:restriction>
  </xs:simpleType>
</xs:schema>